.p-taskdetails{
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
//    justify-content: space-between;
    // background-color: #5a55ca;
    height: calc(100% - 54px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    .footerbg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    .container{
        // padding: 50px 20px;
        border-radius: 40px 40px 0 0;
        background-color: #fff;
        padding-bottom: 20px;
        height: 100%;
        overflow-y:scroll ;
        z-index: 1;


        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .status{
                display: flex;
                align-items: center;
                // margin-bottom: 0;
                justify-content: space-between;

                h2{
                    color:#fe6f06;
                    margin-right: 10px;
                }
                h4{
                    display: flex;
                    align-items: center;
                    column-gap: 2px;
                    font-size: 22px;
                    text-transform: capitalize;
                    margin-bottom: 0;
                   
                    &.approved{
                        color:  #008000;
                   
                    }
                    &.pending{
                        color: crimson;
                    }
                }
            }
           
            div{
                ul{
                    padding: 20px 0;     
                    label{
                        width: 100%;
                        color: $textclr;

                        
                        select{
                            // color:#777979;
                            // width: 100%;
                            // padding: 10px;                           
                            // line-height: 20px;
                            // border:1px solid $bordercolor;
                            // font-size: 16px;
                            // border-radius: 5px;
                            width: 100%;
                            padding: 10px 0;
                            line-height: 20px;
                            font-size: 16px;
                            border-top-style: hidden;
                            border-right-style: hidden;
                            border-left-style: hidden;
                            border-bottom: 1px solid #dce1ed;
                            background-color: transparent;
                            outline: none;
                            // color: #74788d;
                           
                            &:focus{         
                                outline-color:#ced4da;
                                // &::placeholder {
                                //     opacity: 0;
                                //   }
                            }
                            .option{
                                margin-right: 10px;
                                border-radius: 10px;

                                &.option-value{
                                    background-color: #132a70;
                                }
                                
                            }
                            
                        }
                        .businessc{
                            width: 100%;
                            padding: 10px 10px 10px 0;
                            line-height: 20px;
                            font-size: 16px;
                            border-top-style: hidden;
                            border-right-style: hidden;
                            border-left-style: hidden;
                            border-bottom: 1px solid #dce1ed;
                            background-color: transparent;
                            outline: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            button{
                                background-color: transparent;
                                border: none;
                                color: #74788d;
                              
                            }
                        }

                      
                    }
                    li{
                        list-style-type: none; 
                        display: flex;
                        column-gap: 20px;
                        padding-bottom: 20px;

                        sup {
                          
                            color: red;
                            // &:disabled{
                            //     color: #b1b7ca;
                            // }
                        }
                        // &:first-child{
                        //     padding-bottom:0;

                        // }
                        &:nth-child(5){
                            column-gap: 10px;
                            // label{
                            //     // color: #fff;
                            // }
                            span{
                                display: flex;
                                align-items: center;
                              
                            }
                           
                        }
                        &.custom-upload{
                            flex-direction: column;
                            // align-items: flex-start;

                            .upload-multi-file{
                              width: 100%;
                                display:flex;
                                flex-direction: column;
                                justify-content: space-between;
                                // border-bottom: 1px solid $borderclr;
                                padding: 4px 0;

                            //    .custom-file-upload{
                            //         width: 100%;
                            //         padding: 10px;
                            //         line-height: 20px;
                            //         font-size: 16px;
                            //         border-radius: 5px;
                            //         border-color: transparent;
                            //         background-color: #5a55ca;
                            //         color: #fff;   
                            //    }

                            .images-btn{
                                // width: 100%;
                                padding: 5px 0;
                                color: #fff;
                                font-size: 16px;
                                display: flex;
                                justify-content: center;
                                max-width: 100px;
                                border-radius: 5px;
                                border-color: transparent;
                                background-color: #132a70;
                                margin: 5px 0;
                                
                                    // width: 100%;
                                //     display: flex;
                                // align-items: center;
                                //     padding: 5px 10px;
                                //     // line-height: 0;
                                //     font-size: 16px;
                                //     font-weight: 400;
                                //     border-radius: 5px;
                                //     border-color: transparent;
                                //     background-color: #b1b7ca;
                                //     color: #fff;   
                                
                                }
                                .btn-disable{
                                    display: none;
                                }

                            }

                            // &.custom-file-upload{
                            //     display: flex;
                            //     align-items: center;
                            //         // color: #fff;
                            //         width: 100%;
                            //         font-size: 16px;
                            //         padding: 10px; 
                            //         color: #fff;
                            //         background-color: #5a55ca;
                            //         border-radius: 10px;
                            //         text-align: center;
                            //         max-width: 100px;
                                    
                            //         &:disabled{
                            //             opacity: 0.5;
                            //         }
                                    
                                 
                            //     }

                           
                        }

                        
                        .upload-btn-wrapper {
                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                           
                          
                          }

                          
                          .btn {
                            // border: 2px solid gray;
                            // width: 100%;
                            // padding: 10px;
                            // // line-height: 20px;
                            // font-size: 16px;
                            // display: flex;
                            // justify-content: center;
                            // column-gap: 5px;
                            // border-radius: 5px;
                            // border-color: transparent;
                            background-color: #b1b7ca;

                        
                          
                            // padding: 8px 20px;
                            // border-radius: 8px;
                            // font-size: 20px;
                           
                            // font-weight: bold;
                          }
                          
                          .upload-btn-wrapper input[type=file] {
                            font-size: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;         
                          
                          }
                         
                        &:last-child{
                            // display: flex;
                            // padding: 0 10px;

                            &.imag{
                                display: flex;
                                flex-wrap: wrap;
                                div{
                                    width: 80px;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    
                    }
                    
                    p{
                        color: $redcolor;
                        font-size: 16px;
                        margin: 0;
                        font-weight: 500;
                        // font-family: $mukta;
                        // padding-bottom: 20px;
                
                        }
                }
            
               
              
            } 
    
            .submitTask{
                display: flex;
                column-gap: 20px;
                button{
                    width: 100%;
                    padding: 10px;
                    // line-height: 20px;
                    color: #fff;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    column-gap: 5px;
                    border-radius: 5px;
                    border-color: transparent;
                    background-color: $mcolor
                 

                  
                    
                   
                }
                
            }
    
    
        }
    }

    
}